---
import FeatureCard from './FeatureCard.astro';
import petaJalanImg from '../../assets/images/features/peta_jalan_terstruktur.webp';
import slaCoreImg from '../../assets/images/features/sla_daptive_core.webp';

interface Feature {
  id: string;
  type: string;
  title: string;
  description: string;
  rarity?: number;
}

interface Props {
  title?: string;
  features?: Feature[];
}

const {
  title = 'Pendekatan Utama IMMERSION',
  features = [
    {
      id: 'GRKD-01',
      rarity: 5,
      type: 'Core Engine',
      title: '第二言語習得\n理論に基づく',
      description:
        'Metodologi OTODIDAK kami didasari pada Ilmu SLA (Pembelajaran Bahasa ke-2). Dimana kami percaya siapapun diamanapun kalian pasti bisa menguasai Bahasa Jepang layaknya Penutur Asli.',
      image: slaCoreImg,
    },
    {
      id: 'GRKD-02',
      type: 'Guild Network',
      title: '独自学習と\nコミュニティ',
      description:
        'Otodidak bukan berarti kamu selalu sendirian. Komunitas utama dengan 12.000+ member aktif selalu siap mendapingin kamu sepanjanag penjalanan Immersion-mu.',
    },
    {
      id: 'GRKD-03',
      rarity: 5,
      type: 'Navigation Map',
      title: '自然習得の\n学習段階',
      description:
        'Kami menyediakan step by step pemeblajaran berdasarkan standar Natural Approach (SLA), yang kita bagi menjadi 4 Tahapan.',
      image: petaJalanImg,
    },
    {
      id: 'GRKD-04',
      rarity: 5,
      type: 'Passive Skill',
      title: '文脈により\n自然解釈',
      description:
        'Kami menentang keras pengunaan Translatean secara MENTAH, karena hasil yang instant tidak membuat-mu memahami definisi dan nuansa kata yang sebenarnya.',
    },
    {
      id: 'GRKD-05',
      rarity: 5,
      type: 'Field Spell',
      title: '母語話者の\nコンテンツ教材',
      description:
        'Lupakan semua TextBook MNN & Irodori. Temukan Kontent Native Jepang yang kamu suka, dan gunakan sebagai Input materi pembelajaran yang bermakna. Bahasa bukan Matematika yang perlu disusun dan dikalkulasi.',
    },
    {
      id: 'GRKD-06',
      type: 'Legendary Tool',
      title: '暗記アプリと\n言葉抽出ツール',
      description:
        'Semua Aplikasi & Tools Immersion tersedia secara Gratis. Dari ANKI, Yomitan, AsbPlayer, dll yang dapat meningkatkan daya ingat-mu dalam Bahasa Jepang.',
    },
  ],
} = Astro.props;
---

<section
  class='features-section loading'
  transition:name='features-section'
  data-lazy
>
  <div class='features-container'>
    <div class='features-header-wrapper'>
      <div class='features-marker' transition:name='features-marker'>/// GEARS_ACTIVATED ///</div>
      <h2
        class='features-title'
        id='features-title'
        transition:name='features-title'
      >
        {title}
      </h2>
      <p class='features-subtitle'>Senjata Rahasia Menuju Nativeness</p>
    </div>
    <div class='features-grid'>
      {
        features.map((feature, index) => (
          <FeatureCard
            id={feature.id}
            type={feature.type}
            title={feature.title}
            description={feature.description}
            rarity={feature.rarity || 4}
            index={index + 1}
          />
        ))
      }
    </div>
  </div>
</section>
